@import "tailwindcss";

* {
  box-sizing: border-box;
  /* font-size: 18px; */
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}